* {
    margin: 0;
    padding: 0;
}
.divConteiner {
    border-radius: 63px;
background: #e0e0e0;
box-shadow:  -26px 26px 50px #bebebe,
             26px -26px 50px #ffffff;

}
/* .conteinerNav {
    background-color: darkgoldenrod; 
    border-radius: 20%;
} */
.boton {
    
    font-family: "Tahoma", "Geneva", sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.4pt;
    line-height: 1.2;
    color: white;
    background-color: grey;
}
 
h1 {
    order: 0;
    flex: 0 0 auto;
    align-self: center;
    color: rgb(4, 4, 4);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}